
:root {
    --white: #fff;
    --black: #000;
    --page: #34353a;
    --navLink: #7a7b7c;
    --lighter: #3D3E42;
    --link: #ffc86b;
    --linkHover: #fff;
    --fade: #000000ee;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("./fonts/Karla/Karla-VariableFont_wght.ttf");
}

@font-face {
    font-family: "NotoSerif";
    src: url("./fonts/NotoSerif/NotoSerif-VariableFont_wdth\,wght.ttf");
}

html {
	scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}

p {
    font-size: 18px;
}

.paragraph-left p
{
    text-align: left;
}
a {
    color: var(--link);
    text-decoration: none;
}

a:hover{
    color: var(--linkHover);
}

#page {
    background-color: var(--page);
}

#navigation {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 64px 0px;
}

#navigation a {
    padding: 0px 16px;
    color: var(--navLink);
}

#navigation a:hover {
    color: var(--linkHover);
}

.panel {

}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 32px;
}

.title {
    font-family: NotoSerif, serif;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 8px;
}

h3 {
    font-family: NotoSerif, serif;
}

.content {
    text-align: justify;
}

.button {
    width: fit-content;
    background-color: var(--page);
    border: var(--link) 4px solid;
    color: var(--link);
    font-weight: 600;
    padding: 16px 32px;
    border-radius: 8px;
    margin: 16px auto;
    transition: 0.2s;
}

.button:hover {
    background-color: var(--link);
    color: var(--page);
    cursor: pointer;
    transition: 0.2s;
}

.button.solid {
    background-color: var(--link);
    color: var(--black);
    border: none;
    transition: 0.2s;
}

.button.solid:hover {
    background-color: var(--linkHover);
    cursor: pointer;
    transition: 0.2s;
}

.button.gray {
    background-color: var(--page);
    color: var(--link);
    border: none;
    margin: 8px 16px;
}

.button.gray:hover {
    color: var(--page);
    background: var(--link);
    border: none;
}

#info {
    background-image: url("./resources/SlimeWalkPromo1.png"), url("./resources/BG2.png");
    background-size: 800px, 100%;
    background-position:  right, center;
    background-position-x:  75%, 0%;
    background-position-y: 0%, 40%;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}



#info .container {
    width: 100%;
    padding-left: 128px;
}

#info .name {
    color: var(--link);
    font-size: 48px;
    font-weight: 500;
}

#info .job {
    font-size: 24px;
    font-weight: 500;;
}

#info .button {
    margin: 32px 0px;
}

#about .content {
    text-align: left;
    padding: 4px 64px;
}

#about .content:before {
    content: "";
    position: relative;
    left: -64px;
    width: 48px;
    border: 2px solid var(--link);
    top: 14px;
    display: block;
}

#experience {
    background-color: var(--lighter);
}

#experience .content {
    width: 60%;
    margin: 16px auto 0px auto;
}

#experience .grid {
    justify-content: center;
}

#cv {
    padding-bottom: 64px;
}

#contact {
    background-color: var(--lighter);
    border-bottom: 4px var(--link) solid;
}

#contact .title {
    width: 100%;
    text-align: center;
    position: relative;
    top: -32px;
    margin-top: 16px;
}

#contact .title:before {
    content: "";
    position: absolute;
    left: 0;
    top: 32px;
    width: calc(40% - 64px);
    border: 2px solid var(--link);
}

#contact .title:after {
    content: "";
    position: absolute;
    right: 0;
    top: 32px;
    width: calc(40% - 64px);
    border: 2px solid var(--link);
}

#contact .container {
    margin: 32px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    padding: 0px;
    position: relative;
    top: -32px;
}

#footer {
    text-align: center;
    padding: 64px;
    margin: auto;
}

.experience-year {
    padding-bottom: 16px;
}

.experience-year span{
    background-color: var(--navLink);
    padding: 5px 10px;
    font-size: 24px;
    color: var(--white);
    position: relative;
    float: left;
}

.experience-year span:after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent var(--navLink) transparent transparent;
    transform: rotate(180deg);
    border-width: 20px;
    position: absolute;
    right: -40px;
    top: 0;
}

.experience-job {
    border-left: 4px var(--link) solid;
    margin-left: 128px;
    padding-left: 32px;
    font-size: 18px;
    padding-bottom: 16px;
}

.experience-job .title {
    font-size: 32px;
}

.experience-job p {
    font-size: 18px;
    justify-content: left;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    height: 168px;
    width: 168px;
    background-color: var(--lighter);
    border-radius: 16px;
    display: flex;
    margin: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 168px;
    transition: 0.2s;
    /*cursor: pointer;*/
    padding: 12px;
}

/*
.skill:hover {
    background-color: var(--link);
    transition: 0.2s;
}
*/

.skill img {
    height: 64px;
    width: 64px;
    display: block;
}

.skill * {
    padding: 8px;
}

.circle {
    margin: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.circle img {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 4px var(--page) solid;
    transition: 0.2s;
    object-fit: cover;
}

.circle:hover img {
    border: 4px var(--link) solid;
    transform: scale(110%);
    transition: 0.2s;
}

.circle p {
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.circle:hover p {
    color: var(--link);
    transition: 0.2s;
}

.square {
    margin: 8px;
    cursor: pointer;
}

.square img {
    display: block;
    width: 230px;
    border: 4px var(--page) solid;
    transition: 0.2s;
    object-fit: contain;
}

.square:hover img {
    border: 4px var(--link) solid;
    transform: scale(110%);
    transition: 0.2s;
}

.square p {
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.square:hover p {
    color: var(--link);
    transition: 0.2s;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    margin: 32px 0px;
}

.image-gallery > li {
    height: 300px;
    flex: 1 1 auto;
    overflow: hidden;
}

.image-gallery li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.2s;
}

.image-gallery li:hover img {
    transform: scale(120%);
    transition: 0.5s;
}

.modal {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--fade);
    backdrop-filter: blur(4px);
}

.modal .close-button {
    float: right;
    flex-direction: row-reverse;
    position: absolute;
    top: 16px;
    right: 32px;
    padding: 16px;
    width: fit-content;
    color: black;
    z-index: 100;
}

.modal .close-button img {
    width: 64px;
    height: 64px;
    transition: 50ms;
    cursor: pointer;
}

.modal .close-button img:hover {
    transform: scale(120%);
    transition: 50ms;
}

.modal-content {
    margin: 1rem;
    text-align: justify;
    padding: 80px 0px;
}

.modal-content {
    padding: 0px;
}

.modal-content .modal-image {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
}

.modal-content .modal-image img {
    max-height: 90vh;
    width: 90%;
    object-fit: contain;
    display: block;
}

@media(max-width: 1200px) {
    .container {
        width: 80%;
    }
    .grid {
        justify-content: center;
    }
}

.modal-page
{
    margin:1rem;
    max-width: 100vw;
    display:flex;
    padding:100px 0;
    background-color: var(--page);
}

.modal-body
{
    justify-content: center;
    text-align: center;
    margin:auto;
    padding-left: 15px;
    padding-right: 15px;
    width:100%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    
}


.modal-body p.item-intro
{
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
}

.button-container {
    display: block;

}
.button-container .button
{
    display:block;
}
@media (max-width:576px)
{
    .modal-body 
    {
       max-width: 540px;
    }
    #info
    {
        height:800px;
        justify-content: flex-start;
    }

    #info .container
    {
        margin:0;
    }
}


@media (min-width:576px)
{
    .modal-body 
    {
       max-width: 540px;
    }
    #info
    {
        height:800px;
        justify-content: flex-start;
    }

    #info .container
    {
        margin-bottom:40px;
    }
}

@media (min-width:768px)
{
    .modal-body 
    {
       max-width: 720px;
    }
    
}

@media (min-width:992px)
{
    .modal-body 
    {
       max-width: 960px;
    }
    #info .container
    {
        margin:auto;
    }
    #info
    {
        height: 90vh;
        justify-content: center;
    }
}


@media (min-width:1200px)
{
    .modal-body 
    {
       max-width: 1140px;
    }
}

.photo-gallery
{
    list-style: none;
    padding: 0;

}
.photo-gallery li
{
    display:inline-block;
    width:49%;
}

.photo-gallery li img, .photo-gallery li video
{
    width:100%;
}

.gallery-row {
    display: flex;
    width: 100%;
    margin: 8px 0px;
}

.gallery-row-image {
    overflow: hidden;
    margin: 0px 4px;
}

.gallery-row-image img {
    cursor: pointer;
    display: block;
    width: auto;
    height: 100%;
    transition: 0.5s;
}

.gallery-row-image img:hover {
    transform: scale(120%);
    transition: 0.5s;
}

